/* We define some basic styles for the app. */
body {
  background: whitesmoke;
  color: rgb(11, 11, 11);
}

/* A basic container for the main application */
.App-container {
  max-width: 990px;
  margin: 0 auto;
  padding: 50px 20px;
}
