/* We define some basic styles for the app. */
body {
  background: whitesmoke;
  color: rgb(11, 11, 11);
  font-family: 'VT323', monospace;
  font-size: 1.6em;
}

/* A basic container for the main application */
.App-container {
  max-width: 340px;
  margin: 0 auto;
  padding: 50px 20px;
}
